body {
    font-family:Verdana, Geneva, sans-serif;
    margin: 0;
    background-image: url("./assets/images/basketball.webp");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center center;
    color:#ffffff;
}
.title {
    color: rgb(255 206 0 / 89%);
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}
.cardboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}
.container {
    display: flex;
}
.card{
    background-color: rgb(223 182 23 / 80%);
    margin: 20px 0;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-shadow: 3px 2px #ab8f00;
}
.card.card--active {
    background-color: rgb(230 184 7 / 90%);
}
.card h3 {
    margin: 0;
    font-size: 40px;
    line-height: 1;
}
.score {
    font-size: 48px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    text-align: center;
    margin: 20px;
    background: rgb(0 0 0 / 15%);
    border-radius: 6px;
    padding-top: 10px;
}
button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background: transparent;
    padding: 2px;
    font-size: 18px;
    border-radius: 4px;
}
button.reset {
    padding: 10px 20px 6px;
    background: #bda43a;
    font-weight: bold;
    margin-bottom: 40px;
}